/* Base styles for images with hover effect */
.oneclickview-hover {
  --transition-duration: 0.3s;
  --zoom-level: 1.5;
  transition: transform var(--transition-duration) ease;
  z-index: 1;
  position: relative;
}

.oneclickview-hover:hover {
  transform: scale(var(--zoom-level));
  z-index: 10;
}

/* Modal styles */
.oneclickview-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  overflow-y: auto;
  box-sizing: border-box;
}

.oneclickview-modal.full-width {
  align-items: flex-start;
  overflow-y: auto;
  scrollbar-width: thin;
}

.oneclickview-modal.visible {
  opacity: 1;
  visibility: visible;
}

.oneclickview-modal img {
  max-width: 90%;
  max-height: 90vh;
  object-fit: contain;
  transition: all 0.3s ease;
  cursor: zoom-in;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.oneclickview-modal img.loading {
  opacity: 1;
  filter: blur(1px);
  width: 100%;
  height: 100%;
}

.oneclickview-modal img.loaded {
  opacity: 1;
  transform: scale(1);
  filter: none;
}

.oneclickview-modal.full-width img {
  max-width: 100%;
  max-height: none;
  width: auto;
  height: auto;
  cursor: zoom-out;
}
